<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Task</title>
</head>
<body>

    <form action="/task/create" method="POST">

        <label for="title">Título</label>
        <input type="text" name="title" id="title">
        <label for="description">Descrição</label>
        <input type="text" name="description" id="description">
        <label for="scrore">Pontuação</label>
        <input type="text" name="scrore" id="scrore">

        <button>Cancelar</button>
        <input type="submit" value="Salvar" />

    </form>
    
</body>
</html>